.uk-navbar-container {
    background-color: transparent;
}

body {
    background-image: url(../img/train_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.uk-card {
    margin-top: 120px;
}